* {
  box-sizing: border-box;
}
.container
{
  margin-top: 55px;
}
body {
  font-family: sans-serif;
  max-width: 900px;
  margin: auto;
  text-align: center;
  height: 100vh;
  overflow:hidden;
}

#quiz-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
#quiz-title h1 {
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.category {
  width: 500px;
  margin: auto;
}
#start-quiz {
  width: 500px;
  margin: auto;
  height: 100px;
  margin-top: 15px;
}
/* 
#questions-answers {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
} */



#question-text {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}
#question-number
{
  margin: 0;
}

#play-again
{
  background-color: darkgreen;
}

#result-buttons {
  max-width: 600px;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 30px;
}

#result-text
{


  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #eef8b9;

}



#next-button {
  background-color: rgba(216, 216, 216, 0.908);
  width: 100px;
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  color: rgba(1, 1, 1, 0.62);
  font-weight: bold;
  border-radius: 10px;
}


#answers button {
  padding-bottom: 10px;

}
 
#answers {
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#question-number
{
  margin-bottom: 10px ;
}

